<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css"> <!-- Se enlaza el archivo de estilos externo -->
    <title>Detalles del Auto</title>
</head>
<body>
    <h1>Detalles del Auto</h1> <!-- Título principal de la página -->
    <table class="tabla2">
        <tr>
            <th>Patente</th> <!-- Encabezado de la primera columna -->
            <td><input type="text" id="patente" value="Escribe la patente del auto"></td> <!-- Campo de entrada de texto para la patente del auto -->
        </tr>
        <tr>
            <th>Marca</th> <!-- Encabezado de la segunda columna -->
            <td><input type="text" id="marca" value="Escribe la marca del auto"></td> <!-- Campo de entrada de texto para la marca del auto -->
        </tr>
        <tr>
            <th>Kilómetros</th> <!-- Encabezado de la tercera columna -->
            <td><input type="number" id="kilometros" value="Escribe los kilómetros del auto"></td> <!-- Campo numérico para los kilómetros del auto -->
        </tr>
        <tr>
            <th>Modelo</th> <!-- Encabezado de la cuarta columna -->
            <td><input type="text" id="modelo" value="Escribe el modelo del auto"></td> <!-- Campo de entrada de texto para el modelo del auto -->
        </tr>
        <tr>
            <th>Año</th> <!-- Encabezado de la quinta columna -->
            <td><input type="number" id="ano" value="Escribe el año del auto"></td> <!-- Campo numérico para el año del auto -->
        </tr>
        <tr>
            <th>Color</th> <!-- Encabezado de la sexta columna -->
            <td><input type="text" id="color" value="Escribe el color del auto"></td> <!-- Campo de entrada de texto para el color del auto -->
        </tr>
        <tr>
            <th>Tipo</th> <!-- Encabezado de la séptima columna -->
            <td><input type="text" id="tipo" value="Escribe el tipo del auto"></td> <!-- Campo de entrada de texto para el tipo del auto -->
        </tr>
    </table>

    <!-- Botón "Agregar" al pie de la página que redirige a "index.html" -->
    <a href="index2.html" class="btn2">Agregar</a>
</body>
</html>
