body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}

table, th, td {
    margin-right: 11%;
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

form {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* Estilos para el botón de edición y el botón de eliminar */
.kilometros .editar-button,
.eliminar-button {
    margin-left: 5px;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para el hover */
.kilometros .editar-button:hover,
.eliminar-button:hover {
    background-color: rgb(0, 183, 255);
    color: #fff;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos para el menú desplegable */
select#marca {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

/* Estilos para las opciones del menú desplegable */
select#marca option {
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

/* Estilos para el borde del menú cuando se enfoca */
select#marca:focus {
    border: 2px solid #555;
}

/* Estilos para los botones */
.btn1 {
    position: absolute;
    padding: 10px 20px; /* Ajusta el relleno (padding) para el tamaño del botón */
    background-color: #333; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto */
    text-align: center; /* Alinea el texto en el centro */
    text-decoration: none; /* Elimina la subrayado de enlace */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Agrega esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
    transition: background-color 0.3s, color 0.3s; /* Agrega transiciones suaves */
    margin-left: 90%;
}

.btn2 {
    margin-left: 48%;
    margin-top: 100px;
    padding: 10px 20px; /* Ajusta el relleno (padding) para el tamaño del botón */
    background-color: #333; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto */
    text-align: center; /* Alinea el texto en el centro */
    text-decoration: none; /* Elimina la subrayado de enlace */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Agrega esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
    transition: background-color 0.3s, color 0.3s; /* Agrega transiciones suaves */
}

/* Estilos para el hover del botón */
.btn1:hover, .btn2:hover {
    background-color: rgb(0, 183, 255);
    color: #fff;
}

/* Estilos para la tabla con la clase "tabla2" en auto.html */
.tabla2 {
    max-width: 20%; /* Ancho de la tabla */
    margin: 0 auto; /* Centra la tabla horizontalmente en la página */
    margin-bottom: 20px;
    background-color: #fff; /* Estilo de fondo de la tabla */
}

/* Estilos para el encabezado */
.header {
    padding: 20px; /* Añade un espacio superior e inferior */
    border-bottom: 1px solid #ddd; /* Agrega una línea divisoria en la parte inferior */
}

/* Estilos para la sección "Usuario" */
.user-section {
    padding: 5px;
    margin-right: 80%; /* Añade espacio a la derecha para separar de "Listado de Vehículos" */
}

/* Estilos para la sección "Listado de Vehículos" */
.car-section {
    margin: 10%;
    font-size: 30px; /* Tamaño de fuente opcional */
}

.input-container {
    max-width: 100%;
    padding: 10px;
}

.login-form {
    max-width: 20%;
}

.button-container {
    padding: 5px;
}

.btn-login {
    padding: 5px;
    margin-left: 1.5%;
    margin-right: 10%;
}

.btn-register {
    padding: 5px;
    margin-left: 0%;
}