<!doctype html>
<html lang="en">

<head>
  <title>MY TALLER</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>

<body>
    <form action="/procesar" method="post">
        
        <label for="mi_valor">Patente:</label>
        <input type="text" id="mi_valor" name="patente">
        
        <label for="mi_valor">Marca:</label>
        <input type="text" id="mi_valor" name="marca">
        
        <label for="mi_valor">Modelo:</label>
        <input type="text" id="mi_valor" name="modelo">
        
        <label for="mi_valor">Color:</label>
        <input type="text" id="mi_valor" name="color">
        

        <input type="submit" value="Enviar">
    </form>
    
    <div id="f_patente">
        <!-- Aquí se mostrará el resultado -->
        {% if f_patente %}
            El valor ingresado es: {{ f_patente }}
        {% endif %}
    </div>
    <div id="f_marca">
        <!-- Aquí se mostrará el resultado -->
        {% if f_marca %}
            El valor ingresado es: {{ f_marca }}
        {% endif %}
    </div>
    <div id="f_modelo">
        <!-- Aquí se mostrará el resultado -->
        {% if f_modelo %}
            El valor ingresado es: {{ f_modelo }}
        {% endif %}
    </div>
    <div id="f_color">
        <!-- Aquí se mostrará el resultado -->
        {% if f_color %}
            El valor ingresado es: {{ f_color }}
        {% endif %}
    </div>

</body>
</html>

<footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>